body {
    margin: 0;
    padding: 0;

}

#main {
    margin: 20px;
    /*background-color: lightgreen;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

#container-left {
    display: flex;
    justify-content: center;
    /*background-color: lightblue;*/
    
}

#container-right {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    /*background-color: lightcoral;*/
    justify-content: space-around;
    padding: 10px;
    
}
.module {
    display: flex  ;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    border-radius: 20px;
    border:5px solid black;
    padding:20px;   
    font-size: 20px;
}

#fs-draw {
    /*background-color: rebeccapurple;*/
    display: flex  ;
    flex-direction: column;
    align-items: center;
}


#cv-div {
    margin: 0;
    padding: 0;
}

#didiv {
    margin: 0;
    border: 10px solid black;
    padding: 0;
}

.pstart {
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
}

#teamBTN {
    background-color: palevioletred;
    margin-top: 15px;
    padding: 5px;
}

#teamLIST {
    margin-top: 10px;
}

.logs {
    background-color: lightgray;
    padding-left: 5px;
    padding: 10px;
    border-radius: 13px;
    margin-top: 5px;
}

/*NIGGER TABLE SHIT*/

table {
    margin-top: 20px;
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    font-size: 0.8rem;
    letter-spacing: 1px;

  }
  


  th,
  td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    
  }
  
  td{
    text-align: center;
  }
  
  thead > tr:nth-of-type(even) {
    background-color: pink;
  }

  thead > tr:first-child {
    background-color: rgb(255, 110, 233);
  }